
<div class="band">
  <div class="item-1">
    <a href="https://github.com/Samundar9525/Sems-college-marks-distribution-portal-" class="card">
      <div class="thumb" style="background-image: url('assets/projects/project1.png')"></div>
      <article>
        <h1 class="desc-title">Student Result Management System </h1>
        <p class="desc"> This project is replica of Anna University marks distribution System.
          This is Standalone java application in which can perform all basic CRUD operation.
          User can get the marks as well as attendence in pdf format </p>
        <p class="desc-footer"> <b>Tech Stack :</b> Java ,Javafx, Postgresql</p>
      </article>
    </a>
  </div>
  <div class="item-6">
    <a href="https://github.com/Samundar9525/Crop_prediction_and_analysis" class="card">
      <div class="thumb" style="background-image: url('assets/projects/project2.png')"></div>
      <article>
        <h1 class="desc-title"> Crop Analysis and yield Prediction </h1>
        <p class="desc"> An app that Implemented using Pyqt and used linear regression and multiple regression machine
          learning algorithm to predict the yields of crops and also suggest the most profitable crop. </p>
        <p class="desc-footer"> <b>Tech Stack :</b> Python ,Pyqt, Supervised Machine Learning algorithm</p>
      </article>
    </a>
    <div>

    </div>
  </div>
  <div class="item-1">
    <a href="https://github.com/Samundar9525/django_learning" class="card">
      <div class="thumb" style="background-image: url('assets/projects/project3.png')"></div>
      <article>
        <h1 class="desc-title">Employee Management System </h1>
        <p class="desc"> This project is a created using Django framework having basic CURD operation. where we can see employee data in table.
           for database storage Sqlite is used and it is hosted using pythonanywhere</p>
        <p class="desc-footer"> <b>Tech Stack :</b> Python, Django, Sqlite</p>
      </article>
    </a>
  </div>
  <div class="item-6">
    <a href="https://github.com/Samundar9525/angular_Reusable_component" class="card">
      <div class="thumb" style="background-image:url('assets/projects/project4.png')"></div>
      <article>
        <h1 class="desc-title"> Angular Reusable Component showcase </h1>
        <p class="desc"> In this project material UI is used and targets to create reusable component. The data is provided on json format and on basis
          that the UI itself generate the reusable component.  </p>
        <p class="desc-footer"> <b>Tech Stack :</b> Angular, Material UI</p>
      </article>
    </a>
  </div>
</div>
