<!-- WELCOME -->
<div id="welcome">
  <h1>Samundar Singh</h1>
  <div class="details">
    <div class="introduction">
      <!-- <h4 class="role-detail">Full Stack developer</h4> -->
      <h4 class="role-detail">samundarsingh9525@gmail.com | (+91) 8340116227 </h4>
      <h3><b>Welcome To My Portfolio</b></h3>
    </div>
    <div class="card-container">
      <app-cards></app-cards>
    </div>
    <div class="follow-us">
      <div class="social-icons">
        <a href="mailto:samundarsingh9525@gmail.com" title="samundarsingh9525@gmail.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
        <a href="" title="phone">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/samundarsingh9525/" title="linkedin">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/Samundar9525" title="github">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>


<!-- ABOUT -->
<div id="about">
  <h1>About Me</h1>

  <div id="self">
    <img class="img-responsive" src="../../../src/assets/mypic.png">
  </div>
  <div class="about-content">
    <br>
    <p>Hi! I’m Samundar and I hail from the beautiful state of Jharkhand. I am a dedicated software developer with a
      keen interest in leveraging technology to solve real-world challenges.
      I completed MCA from Anna university on 2022 and I am working as software developer in Caterpillar.Inc since 2022.
      <br><br>If you'd like, scroll down to see some examples of my work!<br>Want to work together? I’d love to hear
      from you!
    </p>
    <br><br><br><br><br><br><br>
    <div class="flex-badages" style="display: flex;">
      <span id="email">
        <svg fill="#FFFFFF" width="32px" height="32px" viewBox="0 0 0.96 0.96"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.88 0.2v0.16l-0.4 0.16L0.08 0.36V0.2a0.04 0.04 0 0 1 0.04 -0.04h0.72a0.04 0.04 0 0 1 0.04 0.04M0.08 0.446V0.76a0.04 0.04 0 0 0 0.04 0.04h0.72a0.04 0.04 0 0 0 0.04 -0.04v-0.314l-0.4 0.16Z" />
      </svg>samundarsingh@gmail.com</span>
    <span id="portScroll"><svg fill="#ffffff" width="32px" height="32px" viewBox="0 0 0.96 0.96"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0.8 0.358a0.052 0.052 0 0 0 -0.002 -0.011v-0.004a0.04 0.04 0 0 0 -0.008 -0.011l-0.24 -0.24a0.04 0.04 0 0 0 -0.011 -0.008h-0.004L0.522 0.08H0.28a0.12 0.12 0 0 0 -0.12 0.12v0.56a0.12 0.12 0 0 0 0.12 0.12h0.4a0.12 0.12 0 0 0 0.12 -0.12V0.358m-0.24 -0.141L0.664 0.32H0.56ZM0.72 0.76a0.04 0.04 0 0 1 -0.04 0.04H0.28a0.04 0.04 0 0 1 -0.04 -0.04V0.2a0.04 0.04 0 0 1 0.04 -0.04h0.2v0.2a0.04 0.04 0 0 0 0.04 0.04h0.2Z" />
    </svg> Resume </span>
    </div>

  </div>

</div>

<!-- PORTFOLIO -->
<div id="portfolio">
  <h1 style="font-family: 'Amatic SC', cursive; padding-bottom: 30px;">Projects</h1>
  <app-project-display></app-project-display>
  <br>
</div>
